/* Color values */
/* Color types */
/* Typography */
* {
  box-sizing: border-box; }

body {
  background-color: #fff;
  color: #333;
  font-family: "Helvetica", "Arial", sans-serif; }

.hello-title {
  color: #333; }
