
/* Color values */

$white: #fff;
$black: #000;
$darkgrey: #333;


/* Color types */

$bgcolor: $white;
$textcolor: $darkgrey;


/* Typography */

$basefont: "Helvetica","Arial", sans-serif;
$titlefont: "Helvetica", "Arial", sans-serif;